<header>
    <nav>
        <a href="/">Document Server</a>
        <ul>
            <li><a href="/creators">Creators</a></li>
            <li><a href="/creators/new">Add Creator</a></li>
        </ul>
    </nav>
</header>