<h2 class="page-header"><%= creator.name %></h2>
<a href="/creators/<%= creator.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/creators/$(creator.id)` }) %>
<% if (documentsByCreator.length > 0) { %>  
<h2>Documents By Creator</h2> 
<% documentsByCreator.forEach(document => { %>
    <img height="150" width="100" src="<%= document.coverImagePath %>">
<% }) %>   
<% } %>

